@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body {
  background-color: #f3c100;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #333;
  background:
    radial-gradient(circle farthest-side at 0% 50%, #f3c100 23.5%, rgba(240, 166, 17, 0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #E5CCA5 24%, rgba(240, 166, 17, 0) 0)19px 30px,
    linear-gradient(#f3c100 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #f3c100 0)0 0,
    linear-gradient(150deg, #f3c100 24%, #E5CCA5 0, #E5CCA5 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #E5CCA5 0, #E5CCA5 76%, #f3c100 0)0 0,
    linear-gradient(30deg, #f3c100 24%, #E5CCA5 0, #E5CCA5 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #E5CCA5 0, #E5CCA5 76%, #f3c100 0)0 0,
    linear-gradient(90deg, #E5CCA5 2%, #f3c100 0, #f3c100 98%, #E5CCA5 0%)0 0 #f3c100;
  background-size: 40px 60px;
  margin-bottom: 5rem;
}

/* Loader gif */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader.gif") center no-repeat #f3c100;
}

/* Navbar */
/* https://getbootstrap.com/docs/4.0/components/navbar/ */
.navbar {
  background-color: #0374b8;
  border-bottom: 0.5rem solid #E5CCA5
}

.navbar-dark .navbar-brand {
  color: #f5f5f5;
  font-weight: 800;
}

.navbar-dark .navbar-brand:hover {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f5f5f5;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 800;
}

.navbar-dark .navbar-toggler {
  border: none;
}

button:focus {
  outline: none;
}

/* https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin:0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: #f5f5f5;
}

.animated-icon2 span:nth-child(1) {
  top:0;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* On page load */
.element--hidden {
  visibility: hidden;
}

#about {
  display: none;
}

/* Main Layout */
.page {
  padding-top: 4rem;
  align-items: center;
  text-align: center;
}

#home {
  padding-top: 1rem;
}

.page--title {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  text-shadow: -1px 0 #c8b9d8, 0 1px #c8b9d8, 1px 0 #c8b9d8, 0 -1px #c8b9d8;
}

@media screen and (max-width: 520px) {
  .page>span {
    display: block;
  }

  .page--title {
    font-size: 2rem;
  }
}

.page--img {
  max-width: 50%;
  max-height: 50%;
  border: solid 2px #333;
  border-radius: 50%;
  margin-bottom: 30px;
  width: 50vh;
}

.page--btn {
  cursor: pointer;
  background-color: #c8b9d8;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  border: solid 2px #333;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
  text-decoration: none;
}

.page--btn:hover {
  color: #f5f5f5;
  border-color: #f5f5f5;
  text-decoration: none;
}

/* About */

.section--center {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
}

.section--link {
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 80%;
  padding: 0.4rem;
  line-height: 1;
  background-color: #c8b9d8;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
}

.section--link>a {
  text-decoration: none;
  color: inherit;
}

.section--link--adjacent {
  text-align: center;
}

.btn--smaller {
  display: inline-block;
  width: 49%;
  font-size: 1.5rem;
}

.section--link:hover {
  color: #f5f5f5;
  border-color: #f5f5f5;
}

/* Modals */

.modal-content {
  background-color: #c8b9d8;
  border: 2px solid #333;
  border-radius: 10px;
}

.modal-body>strong {
  margin-bottom: 1.5rem;
}

.close {
  color: #333;
  font-size: 2.5rem;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  color: #f5f5f5;
}

/* Audio toggle switch */
#options--audio {
  display: inline-block;
  background-color: #007bff;
  border-radius: 10px;
  padding: 0.1rem 0.4rem;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}

#options--audio:hover {
  background-color: #005dc8;
}

.audio--on {
  color: white;
}

.audio--off {
  color: #007bff;
}

.alert-warning {
  color: white;
  background-color: #007bff;
  border-radius: 10px;
}

/* Play/Learn displays */

#page--display,
#page--welcome {
  background-color: #f3c100;
  width: 992px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
  font-family: "ABeeZee", sans-serif;
  box-shadow: -1px 0 #c8b9d8, 0 1px #c8b9d8, 1px 0 #c8b9d8, 0 -1px #c8b9d8;
}

#page--display {
  display: none;
}

#page--welcome {
  font-family: inherit;
}

#page--display--btn {
  position: relative;
  margin-bottom: 1.5rem;
}

#expand--fullscreen--button,
#close--fullscreen--button,
#options--button {
  text-align: left;
  line-height: 0;
  color: #0374b8;
  font-size: 2rem;
  width: 30%;
  position: absolute;
}


#help--button {
  line-height: 0;
  color: #0374b8;
  font-size: 2rem;
  width: 30%;
}

#expand--fullscreen--button,
#close--fullscreen--button {
  left: 0.5rem;
}

#close--fullscreen--button {
  display: none;
}

#options--button,
#help--button{
  text-align: right;
  right: 0.5rem;
}

#learn--next--button {
  text-align: center;
  color: #0374b8;
  font-size: 2rem;
}

#options--button i:hover,
#help--button i:hover,
#learn--next--button:hover,
#expand--fullscreen--button i:hover,
#close--fullscreen--button i:hover {
  color: #f5f5f5;
  cursor: pointer;
}


#play--letter--upper,
#play--letter--lower,
#learn--letter--upper,
#learn--letter--lower {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
}

.text--spaced {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.text--spaced--small {
  font-size: 1rem;
}

.text--spaced--large {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {

  #page--display,
  #page--welcome {
    width: 90vw;
  }

  #options--button,
  #help--button,
  #expand--fullscreen--button,
  #close--fullscreen--button i:hover {
    font-size: 1.2rem;
  }

  #play--letter--upper,
  #play--letter--lower,
  #learn--letter--upper,
  #learn--letter--lower {
    font-size: 2rem;
    line-height: 1;
  }

  .text--spaced {
    font-size: 1rem;
  }

  .text--spaced--large {
    font-size: 1.5rem;
  }
}

.play--image--select,
.learn--image--select {
  border: 2px solid #c8b9d8;
  border-radius: 10px;
  background-color: #c8b9d8;
  width: 14rem;
  height: 14rem;
}

.play--word,
.learn--word {
  width: 14rem;
}

.play--image--select:hover,
.learn--image--select:hover {
  cursor: pointer;
  border-color: #f5f5f5;
  color: #f5f5f5;
}

.learn--image--select.learn--image--selected {
  border: 0.5rem solid #c8b9d8;
}

.play--image--select.play--image--correct,
#play--answer.play--image--correct,
.learn--image--select.learn--image--current,
#learn--answer {
  border: 0.5rem solid #BEBF13;
  background-color: #BEBF13;
  border-radius: 10px;
}

.play--image--select.play--image--incorrect,
#play--answer.play--image--incorrect {
  border: 0.5rem solid #F99A0C;
  background-color: #F99A0C;
  border-radius: 10px;
}

.play--image,
.learn--image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
}

@media screen and (max-width: 574px) {

  .play--image--select,
  .learn--image--select {
    width: 6.8rem;
    height: 6.8rem;
  }

  .play--word,
  .learn--word {
    width: 6.8rem;
  }
}

.col {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-3 {
  padding: 5px;
}

#play--options label,
#learn--options label {
  margin: .5rem 0 .5rem .5rem;
}

#play--options h6,
#learn--options h6 {
  margin: 1rem 0 0.5rem;
}

/* Fullscreen */
/* https://www.w3schools.com/howto/howto_js_fullscreen.asp */

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: #f3c100;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: #f3c100;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: #f3c100;
}

/* Standard syntax */
:fullscreen {
  background-color: #f3c100;
}

/* Footer */

footer {
  background-color: #a094ac;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  border-top: 0.5rem solid #E5CCA5
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: #f5f5f5;
}

.footer--text {
  font-size: 1rem;
  margin: 0;
}